:root {
    --main-font: "Roboto", sans-serif; 
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196F3;
    --main-color: #212121;
    --secondary-collor: #757575;
    --contrast-color: #FFFFFF;
    --secondblack-color:  #000000;
    --header-color:#ECECEC;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --footer-color: #2F303A;
    --section-color: #F5F4FA; 
}

body {  
    font-family: var(--main-font); 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}   
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    }

.address {
    font-style: normal;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  
  .container {
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
   width: 1200px;
  }

/*====================COMPONENTS===========================*/
.logopart1 {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--accent-color);
}
.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    
    color: var(--main-color);
    margin-bottom: 30px;
    }
button {
    border: 1px solid transparent;
    } 
/*====================END COMPONENTS===========================*/

/*====================HEADER===========================*/
.header-logopart2 {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--secondblack-color);    
}
.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--main-color);
}
.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
} 
.active-link {
    color:var(--accent-color)
}
.mail-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-collor);
}
.tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-collor);
}
.mail-link:hover,
.mail-link:focus {
color: var(--accent-color);
}
.tel-link:hover,
.tel-link:focus {
color: var(--accent-color);
}
.header{
     border-bottom: 1px solid var(--header-color);
}
.header-container{
    background-color: orchid;
}
/*====================END HEADER===========================*/

/*====================HERO===========================*/
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    /*color: var(--contrast-color);*/
    margin-bottom: 30px;
}
.hero-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;

    color: var(--contrast-color);
    background: var(--accent-color);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;

}
.hero-container{
    text-align: center;
    padding: 200px 252px;
    background-color:grey;
}
/*====================END HERO===========================*/

/*====================ADVANTAGES===========================*/
.advantage-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--main-color);
    margin-bottom: 10px;
}
.advantage-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-collor);
}
    .advantage-container{
        padding-top: 94px;
        padding-bottom: 94px;
    background-color: rgb(226, 247, 226);    
}
/*====================END ADVANTAGES===========================*/

/*====================WHAT WE DO===========================*/
.doing-container{
    padding-bottom: 94px;

    background-color: green;
}
/*====================END WHAT WE DO===========================*/

/*====================TEAM===========================*/
.worker-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--main-color);
} 
.position-name {
font-weight: normal;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--secondary-collor);
}
.team{
background-color: var(--section-color);
}
.team-container{
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: indianred;
}
/*====================END TEAM===========================*/
/*====================FOOTER===========================*/
.footer-logopart2 {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--contrast-color);
}
.address-link {
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--contrast-color);
display: inline-block;
margin-top: 20px;
}
.footer-mail-link,
.footer-tel-link 
 {
    font-family:var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--footer-text-color);
    display: inline-block;
    margin-top: 9px;
}
.footer {
background-color:var(--footer-color);
}
.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(56, 55, 55);
}
/*====================END FOOTER===========================*/

/*====================PROJECT SELECTOR===========================*/
.selector-btn {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    
    color: var(--main-color);

}

.selector-btn:hover,
.selector-btn:focus {
    color: var(--contrast-color);
    background: var(--accent-color);
}
.project-container{
        padding-top: 94px;
        padding-bottom: 94px;
        background-color: rgb(236, 173, 173);
    }

/*====================END PROJECT SELECTOR===========================*/

/*====================PROJECT EXAMPLES===========================*/

.project-name {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    
    color: var(--main-color);  
}
.project-type {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;

    color: var(--secondary-collor);
}
/*====================END PROJECT EXAMPLES===========================*/